body {
  html {
    padding: 20px;
  }
}

textarea {
  width: 400px;
  height: 300px;
}

.dynamic_block {
  display: none;
  .socket--connected & {
    display: block;
  }
}

iframe {
  width: 400px;
  height: 400px;
}
