.corner-menu {
  width: 48px;
  height: 48px;
  margin: 0.2em;
  font-size: 2em;
  text-align: left;
  .state--active & {
    > div {
      background: #fff;
      padding: 0.5em;
      width: auto;
    }
    h1 {
      font-size: 0.75em;
    }
  }
  h1 {
    font-size: 1em;
    line-height: 1em;
    overflow: hidden;
    height: 1em;
  }
  li {
    font-size: $font_base;
  }
}
.corner-menu-box {
  width: 3em;
  text-align: center;
  display: none;
  .socket--connected & {
    display: block;
  }
}
