$menu_size: 48px;
$padding: 4px;

.corner-menu {
  display: inline-block;
  > div {
    width: $menu_size;
    height: $menu_size;
  }
  font-size: 2em;
  text-align: left;
  &.state--active {
    background: #fff;
    margin-left: $padding * 2;
    margin-top: $padding * 2;
    border: 1px solid #333;
    > div {
      width: auto;
      height: auto;
      padding: 0.4em;
    }
    h1 {
      font-size: 0.75em;
    }
  }
  h1 {
    font-size: 1em;
    line-height: 1em;
    overflow: hidden;
    height: 1em;
  }
  li {
    font-size: $font_base;
    span {
      display: block;
      white-space:nowrap;
    }
    a {
      display: block;
      white-space:nowrap;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.corner-menu-box {
  width: $menu_size + $padding * 2;
  text-align: center;
  display: none;
  .socket--connected & {
    display: block;
  }
}

body {
  margin-left: $menu_size + $padding * 2;
}
