html
  head
    link(href="css/styles.css", rel="stylesheet", type="text/css")
  body
    p.status
      | Hello World 2
      
  div.dynamic_block
    form
      | Type sass here!
      br
      textarea#input
      textarea#output
        
  div.dynamic_block
    form
      | Type jade here!
      br
      textarea#input_jade
      textarea#output_html
        
  div.dynamic_block
    form
      | Type es6 javascript here!
      br
      | eg. class Foo {}; var x = new Foo();
      br
      textarea#input_es6
      textarea#output_js
              
  script(src="js/component.js")
