div.corner-menu.menu-actions.svg-menu(data-title="Actions", data-short=" ")
  a(href="#")| new pen
  a(href="#")| save pen

div.corner-menu.menu-pens.svg-folder(data-title="Pens", data-short=" ")
  a(href="#")| Pen title...
  a(href="#")| Pen2
  a(href="#")| Pen3
