div.corner-menu.menu-actions(data-title="Actions", data-short="|svg-menu")
  a(href="javascript: window.periscope.pen.create()")| new pen
  a(href="javascript: window.periscope.pen.delete()")| delete pen

div.corner-menu.menu-pens.svg-folder#pens_menu(data-title="Pens", data-short=" ")
  a(href="#")| Pen title...
  a(href="#")| Pen2
  a(href="#")| Pen3
